
// Background

$base-color: #22243f;
$background-color: #45496d;

$background-item-transparent: #45496df2;

$background-card-transparent:#121535e1;

$base-color-transparent : #12153580;

$gradient-border-0: rgba(127,0,255,1);
$gradient-border-50: rgba(218,0,255,1);
$gradient-border-100: rgba(0,254,255,1);

// $gradient-border-0: rgb(117, 117, 164);
// $gradient-border-50: rgb(255, 255, 255);
// $gradient-border-100: rgb(168, 168, 168);

$gradient-button-0: white;
$gradient-button-50: rgb(175, 175, 175);
$gradient-button-100: rgb(99, 99, 99);

$gradient-trash-0: rgb(255, 0, 0);
$gradient-trash-50: rgb(255, 0, 140);
$gradient-trash-100: rgba(127,0,255,1);

$gradient-edit-0: rgb(255, 145, 0) ;
$gradient-edit-50: rgb(255, 217, 0);
$gradient-edit-100: rgba(127,0,255,1);

