<div id="file-page" class="content">


    <div class="card">
        <h2>{{(file$ | async)?.name}}</h2>
    
        <h3>Liste des tags</h3>
        <hr class="separator-perimeter">
        <form *ngIf="isReady">
            <mat-form-field class="example-chip-list">
              <mat-chip-grid #chipGrid aria-label="tag selection">
                <mat-chip-row class="tag-element" *ngFor="let tag of (file$ | async)?.tags" (removed)="deleteTag(tag.id)">
                  {{tag.content}}
                  <button matChipRemove [attr.aria-label]="'remove ' + tag">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input class="tag-input" placeholder="New tag..." #tagInput [formControl]="tagCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addTag($event)"/>
              <mat-autocomplete id="tag-autocomplete" #auto="matAutocomplete" (optionSelected)="addTag($event)">
                <mat-option *ngFor="let ta of filteredTags | async" [value]="ta">
                  {{ta.content}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          
          <div class="perimeter-bar">
            <select id="perimeter" class="selector" [(ngModel)]="contact" required>
                <option selected [ngValue]="undefined">Choisissez un Contact</option>
                <option *ngFor="let contact of contacts$ | async" [ngValue]="contact">{{contact.firstName}} {{contact.lastName}}</option>
            </select>
            <div class="add-button right" (click)="submitContactForm()">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        
        <div *ngIf=" file$ | async as file"  class="display-name">
          <hr class="separator-perimeter" style="width: 100%;">
          <div  class="perimeter-line"  *ngIf="file.contact != null">
            <span (click)="toContact(file)">{{file.contact.firstName + " " + file.contact.lastName}}</span>
            <div class="action-button" (click)="deleteContact()"> 
                <i class="fa fa-trash"></i>
            </div>
          
          </div>
          <hr class="separator-perimeter" style="width: 100%;">
      </div>
    </div>
</div>