<header id="header" class="sticky">
    <div class="title" routerLink="">
        <h2>INTERCONTACT</h2>
    </div>
    <div class="selector-bar">
        <div class="selector-button" routerLink="contacts">
            <h2>Contacts</h2>
        </div>
        <div class="selector-button" routerLink="files">
            <h2>Fichiers</h2>
        </div>
        <div class="search-bar">

        </div>
    </div>
    <div class ="parameter-button">
        <span><i class="fa fa-gear"></i></span>
    </div>
</header>