<div class="content">
    <div class="button-bar">
        <div class="add-button right" (click)="toAddContact()">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    
    <div class="list">
        <div class="list-item list-header">
            <span class="name">Prénom + Nom</span>
            <span class="mail">Mail</span>
            <span class="perimeter">Périmètre</span>
        </div>
        <div class="list-item" *ngFor="let contact of contactList$ | async">
            <span class="name">{{contact.firstName + " " + contact.lastName}}</span>
            <span class="mail">{{contact.mail}}</span>
            <span class="perimeter"></span>
        </div>
    </div>
</div>


