@use  "reference" as ref;

.content {
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    height:calc(100vh - 65px);
    background-color: ref.$base-color;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.list{
    width: 70%;
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap:15px;
    padding-bottom: 20px;

}




.list-item {
    backdrop-filter: blur(10px);
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: ref.$background-color;
    font-family: Helvetica;
    background: linear-gradient( #505050f2,  ref.$background-item-transparent) padding-box,
        linear-gradient(45deg, ref.$gradient-border-0 0%, ref.$gradient-border-50 50%, ref.$gradient-border-100 100%) border-box;
    border: 1px solid transparent;
    border-radius: 10px;

    .name {
        padding-left: 1%;
        width: 30%;
        display: flex;
        justify-content: left;
    }

    .mail {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .perimeter {
        width: 30%;
        display: flex;
        justify-content: center;

    }
    hr {
        border: 1px solid transparent;
        background: linear-gradient( ref.$background-item-transparent,  ref.$background-item-transparent) padding-box,
        linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(211, 211, 211) 50%, rgb(153, 153, 153) 100%) border-box;
        height: 60%;
    }
}

.list-header {
    height: 60px;
    border: 2px solid transparent;
    background-color: ref.$background-color;
    background: linear-gradient( ref.$background-item-transparent,  ref.$background-item-transparent) padding-box,
    linear-gradient(45deg, ref.$gradient-border-0 0%, ref.$gradient-border-50 50%, ref.$gradient-border-100 100%) border-box;

}

.button-bar {
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;


}

.add-button {
    
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( ref.$background-item-transparent,  ref.$background-item-transparent) padding-box,
    linear-gradient(45deg, ref.$gradient-border-0 0%, ref.$gradient-border-50 50%, ref.$gradient-border-100 100%) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;

    i {
        color: transparent;
        background: linear-gradient(135deg, rgb(255, 255, 255) 0%, ref.$gradient-button-50 50%, ref.$gradient-button-100 100%);
        background-clip: text;
        -webkit-background-clip: text;
    }

}

.action-button {
    display: flex;
    gap:20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.red-border {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( ref.$background-item-transparent,  ref.$background-item-transparent) padding-box,
    linear-gradient(135deg, ref.$gradient-trash-0 0%, ref.$gradient-trash-50 50%, ref.$gradient-border-0 100%) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.yellow-border {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( ref.$background-item-transparent,  ref.$background-item-transparent) padding-box,
    linear-gradient(135deg, ref.$gradient-edit-0 0%, ref.$gradient-edit-50 50%, ref.$gradient-border-0 100%) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;

}